# Dependencias de Node
node_modules/

# Archivos de sesión
sessions/

# Archivo de variables de entorno (contraseñas)
.env

# Archivos de registro de npm
npm-debug.log*
yarn-debug.log*
yarn-error.log*